<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Googoo Global Event Management {% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="css/mystyle.css">
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="js/adds.json"></script>
        <script src="js/eventmanager.js"></script>
        {% endblock %}
    </body>
</html>
